default:
  bp_api_key: "your-bioportal-api-key"
  default_log_file_path: "logs/%{script_name}-run.log"
  bp_base_rest_url: "https://data.bioontology.org"
  bp_search_endpoint: "/search"
  bp_ontologies_endpoint: "/ontologies"
  bp_submissions_endpoint: "/submissions"
  bp_classes_endpoint: "/ontologies/%{ontology_acronym}/classes"
  servers_to_compare: ["https://data.bioontology.org", "https://stagedata.bioontology.org"]